.incorrect{
    color:red;
}
.correct{
    color: white;
}
.cursor{
    display: inline-block;
    position: absolute;
    margin-top:7px;
    height:45px;
    width:3px;
    background-color: yellow;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    0%,50%{
        opacity: 1;
    }
    51%,100%{
        opacity: 0;
    }
}