.incorrect{
    color:red;
}
.correct{
    color: white;
}
.cursor{
    display: inline-block;
    position: absolute;
    margin-top:calc(7px + 0.15vw);
    /* height:45px; */
    height:calc(20px + 1.5vw);
    width:2.5px;
    background-color: yellow;
    animation: blink 1s linear infinite;
}

@keyframes blink{
    0%,50%{
        opacity: 1;
    }
    51%,100%{
        opacity: 0;
    }
}