#OverlayMain {
  position: absolute;
  left: 0%;
  transform: translate(100%);
  top: 0;
  display: flex;
  align-items: center;
  width:100vw;
  height:95vh; 
  /* z-index: 3; */
}

.dispMain{
  animation: SliderShow 3s normal 1s 1 forwards;  
}

.hideMain{
  animation: SliderHide 2.5s normal 1 forwards;
}

@keyframes SliderHide {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(-102%);
  }
}

@keyframes SliderShow {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-2%);
  }
}
